---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.water.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author | escape }}</span></span>
            {%- endif -%}</p>
    </header>
    <div itemprop="articleBody">
        {{ content }}
    </div>
    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}
    <a href="{{ page.url | relative_url }}" hidden></a>
</article>
