{%- assign social = site.water.social_links -%}
<ul class="social-media-list">
    {%- if social.dribbble -%}<li><a href="https://dribbble.com/{{ social.dribbble | cgi_escape | escape }}"
            title="{{ social.dribbble | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#dribbble' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.facebook -%}<li><a href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}"
            title="{{ social.facebook | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#facebook' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.flickr -%}<li><a href="https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}"
            title="{{ social.flickr | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#flickr' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.github -%}<li><a href="https://github.com/{{ social.github | cgi_escape | escape }}"
            title="{{ social.github | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#github' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.instagram -%}<li><a href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}"
            title="{{ social.instagram | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#instagram' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.linkedin -%}<li><a href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}"
            title="{{ social.linkedin | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.pinterest -%}<li><a href="https://www.pinterest.com/{{ social.pinterest | cgi_escape | escape }}"
            title="{{ social.pinterest | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#pinterest' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}<li><a rel="me"
            href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}"
            title="{{ mst.username | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#mastodon' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}{%- endfor -%}
    {%- if social.twitter -%}<li><a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
            title="{{ social.twitter | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#twitter' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.youtube -%}<li><a href="https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}"
            title="{{ social.youtube | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.youtube_channel -%}<li><a
            href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}"
            title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.telegram -%}<li><a href="https://t.me/{{ social.telegram | cgi_escape | escape }}"
            title="{{ social.telegram | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#telegram' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.keybase -%}<li><a href="https://keybase.io/{{ social.keybase | cgi_escape | escape }}"
            title="{{ social.keybase | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#keybase' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.microdotblog -%}<li><a rel="me"
            href="https://micro.blog/{{ social.microdotblog | cgi_escape | escape }}"
            title="{{ social.microdotblog | escape }}"><svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#microdotblog' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
    {%- if social.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><svg
                class="svg-icon grey">
                <use xlink:href="{{ '/assets/water-social-icons.svg#rss' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
</ul>
