body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;

  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;

  color: $text-main;
  background: $background;

  text-rendering: optimizeLegibility;
}

button, input, textarea {
  transition: background-color .1s linear,
              border-color .1s linear,
              color .1s linear,
              box-shadow .1s linear,
              transform .1s linear;
}