img,
video {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background);
}

tbody tr:nth-child(even) button {
  background-color: var(--background-alt);
}

tbody tr:nth-child(even) button:hover {
  background-color: var(--background-body);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::selection {
  background-color: var(--selection);
  color: var(--text-bright);
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-alt);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  background-color: var(--background);
  padding: 10px;
  margin: -10px -10px 0;
  cursor: pointer;
  outline: none;
}

summary:hover,
summary:focus {
  text-decoration: underline;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: var(--text-main);
}

dialog {
  background-color: var(--background-alt);
  color: var(--text-main);
  border: none;
  border-radius: 6px;
  border-color: var(--border);
  padding: 10px 30px;
}

dialog > header:first-child {
  background-color: var(--background);
  border-radius: 6px 6px 0 0;
  margin: -10px -30px 10px;
  padding: 10px;
  text-align: center;
}

dialog::backdrop {
  background: #0000009c;
  backdrop-filter: blur(4px);
}

footer {
  border-top: 1px solid var(--border);
  padding-top: 10px;
  color: var(--text-muted);
}

body > footer {
  margin-top: 40px;
}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  position: relative;
  width: 100%;
}

/* Container (background) of the progress bar */
progress[value] {
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--border);

  /* for IE 10+ */
  color: var(--focus);
}

/* IE provides it's own animation which looks nice here */
progress:not([value]) {
  background-color: var(--border);
  border-radius: 6px;
  border: none;
}

::-webkit-progress-bar {
  background-color: var(--border);
  border: none;
  border-radius: 6px;
}

/* Progress bar (front) */
::-webkit-progress-value {
  background-color: var(--focus);
  border: none;
  border-radius: 6px;
}

::-moz-progress-bar {
  background-color: var(--focus);
  border: none;
  border-radius: 6px;
}

/* Chrome */
progress:not([value])::before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      -60deg,
      transparent 33%,
      rgba(0, 0, 0, 0.4) 33%,
      rgba(0, 0, 0, 0.4) 66%,
      transparent 66%
    );
  -webkit-animation: stripes 3s linear infinite;
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: var(--border);
}

/* Safari */
progress:not([value])::-webkit-progress-bar {
  background-image:
    linear-gradient(
      -60deg,
      transparent 33%,
      rgba(0, 0, 0, 0.4) 33%,
      rgba(0, 0, 0, 0.4) 66%,
      transparent 66%
    );
  -webkit-animation: stripes 3s linear infinite;
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: var(--border);
}

/* Mozilla */
progress:not([value])::-moz-progress-bar {
  background-image:
    linear-gradient(
      60deg,
      transparent 33%,
      rgba(0, 0, 0, 0.4) 33%,
      rgba(0, 0, 0, 0.4) 66%,
      transparent 66%
    );
  -moz-animation: stripes 3s linear infinite;
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: var(--border);
}

/* Animations */
@-webkit-keyframes stripes {
  from { background-position: 0 0; }
  to { background-position: 100px 0; }
}

@-moz-keyframes stripes {
  from { background-position: 0 0; }
  to { background-position: 100px 0; }
}

@keyframes stripes {
  from { background-position: 0 0; }
  to { background-position: 100px 0; }
}
