/* To use this file from Sass, import `_variables/_variables-dark` */

:root {
  --background: #202b38;
  --background-alt: #161f27;

  --selection: #161f27;

  --text-main: #dbdbdb;
  --text-bright: #ffffff;

  --links: #41adff;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #ffbe85;

  --animation-duration: 0.1s;
  --button-hover: #324759;

  --scrollbar-thumb: #324759;
  --scrollbar-thumb-hover: #{lighten(#324759, 8%)};

  --form-placeholder: #a9a9a9;
  --form-text: #ffffff;
}
