html {
  scroll-behavior: smooth;
}

#product-hunt {
  margin-top: 1rem;
}

.version-select {
  overflow: hidden;
}

.version-select-snippet h3 {
  margin: 1rem 2.5rem 1rem 0;
}

/* Make the ✔ / ❌ Emoji appear next to the button */
#copy-snippet {
  position: relative;
  margin-right: 2px;
  overflow: visible;
}

#copy-snippet span {
  position: absolute;
  left: -2rem;
  display: inline-block;
  transform: scale(1.3);
}

#theme-form > label:not(:last-of-type) {
  margin-right: 1rem;
}

#version-info th {
  width: 35%;
}

body > footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.emoji {
  /* Use proper Emoji instead of plain Unicode chars */
  font-family:
    'Segoe UI Emoji',
    'Apple Color Emoji',
    'Noto Color Emoji',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}