$background: #202b38 !default;
$text-main: #dbdbdb !default;
$text-bright: #ffffff !default;

$links: #41adff !default;
$focus: #0096bfab !default;
$border: #dbdbdb !default;

$button-hover: #324759 !default;
$animation-duration: 0.1s !default;

$form-background: #161f27 !default;
$form-placeholder: #a9a9a9 !default;
$form-text: #ffffff !default;

@import 'parts/core';