$background: #ffffff !default;
$text-main: #363636 !default;
$text-bright: #000000 !default;

$links: #0076d1 !default;
$focus: #0096bfab !default;
$border: #dbdbdb !default;
$button-hover: #dddddd !default;

$form-background: #efefef !default;
$form-placeholder: #949494 !default;
$form-text: #000000 !default;

@import 'parts/core';