:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;

  --selection: #161f27;

  --text-main: #dbdbdb;
  --text-bright: #ffffff;

  --links: #41adff;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #ffbe85;

  --animation-duration: 0.1s;
  --button-hover: #324759;

  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));

  --form-placeholder: #a9a9a9;
  --form-text: #ffffff;

  --variable: #d941e2;
  --highlight: #efdb43;
}
