/* ! To use this file from Sass, import `_variables/_variables-light` ! */

:root {
--background: #ffffff;
--background-alt: #efefef;

--selection: #9e9e9e;

--text-main: #363636;
--text-bright: #000000;

--links: #0076d1;
--focus: #0096bfab;
--border: #dbdbdb;
--code: #000000;

--animation-duration: 0.1s;
--button-hover: #dddddd;

--scrollbar-thumb: #{darken( var(--button-hover), 3% )};
--scrollbar-thumb-hover: #{darken( var(--button-hover), 10% )};

--form-placeholder: #949494;
--form-text: #000000;
}
