$background-color: #fff;
$font-color: #363636;
$link-color: #0076d1;

$heading-color: #000;

$border-color: #dbdbdb;

$focus-color: #0096bfab;

$button-background-color: #ddd;
$button-font-color: #000;
$button-hover-color: #dddddd;

$form-font-color: #000;
$form-background-color: #efefef;
$form-placeholder-color: #949494;

@import 'water-core'