$background-color: #202b38;
$font-color: #dbdbdb;
$link-color: #41adff;

$heading-color: #ffffff;

$border-color: #dbdbdb;

$focus-color: #0096bfab;

$button-background-color: #161f27;
$button-font-color: #ffffff;
$button-hover-color: #324759;

$form-font-color: #ffffff;
$form-background-color: #161f27;
$form-placeholder-color: #a9a9a9;

@import 'water-core'